body{
	overflow: hidden;
	background: linear-gradient(to right,blue, red);
}
.menu-toggler{
	opacity: 0;

}
.menu-toggler+label{
	width: 40px;
	height: 5px;
	display: block;
	z-index: 1;
	border-radius: 3px;
	background: rgba(255, 255, 255, 0.7);
	transition: 0.5s;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.menu-toggler+label::after,
.menu-toggler+label::before{
	width: 40px;
	height: 5px;
	display: block;
	z-index: 1;
	border-radius: 3px;
	background: rgba(255, 255, 255, 0.7);
	transition: 0.5s;
	content: "";
	position: absolute;
	left: 0;
}
.menu-toggler+label::before{
	top: 10px;

}
.menu-toggler+label::after{
	top: -10px;
}
.menu-item i{
	display: block;
	line-height: 80px;
	color: lightgrey;
	background: rgba(250, 255, 255, 0.2);
	border-radius: 50%;
	text-align: center;
	font-size: 40px;
	pointer-events: none;
	transition: .2s;
}
 .menu-item{
 	position: absolute;
 	display: block;
 	top: 0;
 	bottom: 0;
 	right: 0;
 	left: 0;
 	margin: auto;
 	width: 80px;
 	height: 80px;
 	opacity: 0;
 	transition: 0.5s;
 }
 .menu-toggler:checked+label{
 	background: transparent;

 }
 .menu-toggler:checked+label::after,
 .menu-toggler:checked+label::before{
 	top: 0;
 	width: 40px;
 	transform-origin: 50% 50%;
 }
 .menu-toggler:checked+label::before{
 	transform: rotate(45deg);

 }
 .menu-toggler:checked+label::after{
 	transform: rotate(-45deg);
 }
  .menu-toggler:checked~ul .menu-item{
  	opacity: 1;
  }
  .menu-toggler:checked~ul .menu-item:nth-child(1){
  	transform: rotate(0deg) translate(-110px);
  }
   .menu-toggler:checked~ul .menu-item:nth-child(2){
  	transform: rotate(60deg) translate(-110px);
  }
   .menu-toggler:checked~ul .menu-item:nth-child(3){
  	transform: rotate(120deg) translate(-110px);
  }
   .menu-toggler:checked~ul .menu-item:nth-child(4){
  	transform: rotate(180deg) translate(-110px);
  }
   .menu-toggler:checked~ul .menu-item:nth-child(5){
  	transform: rotate(240deg) translate(-110px);
  }
   .menu-toggler:checked~ul .menu-item:nth-child(6){
  	transform: rotate(300deg) translate(-110px);
  }
  .menu-item:nth-child(1) i{
  	transform: rotate(300deg);
  }
  .menu-item:nth-child(2) i{
  	transform: rotate(-60deg);
  }	
   .menu-item:nth-child(3) i{
  	transform: rotate(-120deg);
  }
   .menu-item:nth-child(4) i{
  	transform: rotate(-180deg);
  }
   .menu-item:nth-child(5) i{
  	transform: rotate(-240deg);
  }
   .menu-item:nth-child(1) i{
  	transform: rotate(-300deg);
  }  
  .menu-item:hover{
  	background: black;
  	border-radius: 50%;
  }